
<!DOCTYPE html>
<html>
<head>
<style>
body {text-align: center;
background-color:Tomato;}

</style>
<title>student suscide projet</title>
</head>
<body>
<form action= "{% url 'result' %}">
{% csrf_token %}
<h1>Please Answer The Question </h1>
<h1> Note hear "Yes" means " 1" And "NO" means "0"<h1>

<div class="question_1" >
  <label >Are you having loss of appetite ?</label>
<p>
<input type="text" name="1st"><br>
</p>

</div>


<div id="question_2">
  <label >Do you get panic attacks ? </label>
<p>
<input type="text" name="2nd"><br>
</p>
</div>



<div id="question_3">
  <label >Are you facing lack of concentration ? </label>
<p>
<input type="text" name="3rd"><br>
</p>
</div>



<div id="question_4">
  <label >Have you been very angry or irritated recently ? </label>
<p>
<input type="text" name="4th"><br>
</p>
</div>

<div id="question_5">
  <label >Are you having lack of sleep ? </label>
<p>
<input type="text" name="5th"><br>
</p>
</div>

<div id="question_6">
  <label >Do you constantly check your phone ?</label>
<p>
<input type="text" name="6th"><br>
</p>
</div>


<div id="question_7">
  <label >Do you get irritated when parents ask you to not access your phone?' ?</label>
<p>
<input type="text" name="7th"><br>
</p>
</div>


<div id="question_8">
  <label >Do you spend money on any of the mobile application ?</label>
<p>
<input type="text" name="8th"><br>
</p>
</div>


<div id="question_9">
  <label >Do you spend more time on social media rather than doing something meaningful ?</label>
<p>
<input type="text" name="9th"><br>
</p>
</div>



<div id="question_10">
  <label >Do you keep things messy ?</label>
<p>
<input type="text" name="10th"><br>
</p>
</div>


<div id="question_11">
  <label >Do you get excessively stressed about the exam results ?</label>
<p>
<input type="text" name="11th"><br>
</p>
</div>


<div id="question_12">
  <label >Do your parents ask you to prioritise studies over extra curricular activities?</label>
<p>
<input type="text" name="12th"><br>
</p>
</div>



<div id="question_13">
  <label >Do you get beaten up/harassed by your parents for scoring less marks/failing ?</label>
<p>
<input type="text" name="13th"><br>
</p>
</div>


<div id="question_14">
  <label >In class , are you often left out ?</label>
<p>
<input type="text" name="14th"><br>
</p>
</div>

<div id="question_15">
  <label >Do you get bullied by your classmates ?</label>
<p>
<input type="text" name="15th"><br>
</p>
</div>

<div id="question_16">
  <label >Have you ever got body shamed ?</label>
<p>
<input type="text" name="16th"><br>
</p>
</div>

<div id="question_17">
  <label >Do you undergo mood swings quite often ?</label>
<p>
<input type="text" name="17th"><br>
</p>
</div>


<div id="question_18">
  <label >Do you find activities which were once interesting , now uninteresting ?</label>
<p>
<input type="text" name="18th"><br>
</p>
</div>


<div id="question_19">
  <label >Do you stay isolated quite often ?</label>
<p>
<input type="text" name="19th"><br>
</p>
</div>


<div id="question_20">
  <label >Do you have any financial pressure ?</label>
<p>
<input type="text" name="20th"><br>
</p>
</div>

<button type="submit" name= " "  value="Submit">Submit</button>


<p>This is a paragraph.</p>
</form>
</body>
</html>



